body {
  font-family: Quicksand, sans-serif;
}

.shadow {
  box-shadow:  24px 24px 70px rgba(0, 0, 0, 0.1),
  -24px -24px 70px rgba(0, 0, 0, 0.05);
}

.soft-shadow {
  box-shadow:  5px 5px 11px rgba(0, 0, 0, 0.12),
  -5px -5px 11px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: var(--card-color);
  border-radius: 0.7rem;
}

.navigationbutton {
  background-color: #E69575;
  border-radius: 0.7rem;
}

.topcard {
  background-color: #f2f2f2;
  border-radius: 0 0 1rem 1rem;
}

body {
  background-color: #F4F1DE;
}

.button {
  background-color: #E69575;
}

.titels {
  color: #4E5050;
}
