@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  //font-family: 'Andika New Basic', sans-serif;
  //font-family: 'Varela Round', sans-serif;
  font-family: Quicksand, sans-serif;
}

.shadow {
  box-shadow:  24px 24px 70px rgba(0, 0, 0, 0.17),
  -24px -24px 70px rgba(0, 0, 0, 0.1);
}

.soft-shadow {
  box-shadow:  5px 5px 11px rgba(0, 0, 0, 0.12),
  -5px -5px 11px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: var(--card-color);
  border-radius: 0.7rem;
}

body {
  background-color: #F4F1DE;
}

.button {
  background-color: #E69575;
}

.titels {
  color: #4E5050;
}
