:root {
  --primary-color: #6c8487;
  --primary-color-hover: #07889B70;
  --secondary-color: #66B9BF;
  --third-color: #E37222;
  --background-color: #f4f1de;
  --card-color: #ffffff;
}

.primary-color {
  color: var(--primary-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}
